{% extends "Ecom/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
          <h1>{% trans "Sign In" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}You can sign in with one
          of your existing social accounts.
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>



          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
            <p>
              Dont have an account ?
              <a href="{{ signup_url }}">sign up</a>
              <br>
              Or you can login with your social media accounts
            </p>
            <div class="socialaccount_ballot">
              <ul>
                <div style="background-color:#3B5998;" class="fb btn"><li style="color:white;" class="fa fa-facebook"><a style="color:white;" class="m-1" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook</a></li></div>
                <div style="background-color:#dd4b39;" class="google btn"><li style="color:white;" class="fa fa-google"><a style="color:white;" class="m-1" href="{% provider_login_url "facebook" method="js_sdk" %}">Google</a></li></div>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
