{% extends 'Ecom/base.html' %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}
{% block content %}


<!--Main layout-->
<main>
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-12">

        <!--Card-->
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{form|crispy}}
              <center><button class="btn btn-primary btn-lg" type="submit">Proceed to payment</button></center>
              <a href="">Already have registered shipping details ?</a>
            </form>
          </div>



        </div>
        <!--/.Card-->


      </div>
      <!--Grid column-->



    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->


{% endblock content %}