{% extends 'Ecom/base.html' %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<h4 class="font-weight-bold my-3">Billing</h4>
    	<div class="card mx-5">
    		<div class="card-body">
    			<div class="sr-root">
    				<div class="sr-main">
    					<form id="payment-form" class="sr-payment-form">
    				    {% csrf_token %}
                	<div class="sr-combo-inputs-row">
                  	<div class="sr-input sr-card-element" id="card-element"></div>
                	</div>
                	<div class="sr-field-error" id="card-errors" role="alert"></div>
                	<button id="submit" class="btn">
                    <div class="spinner-border  spinner-border-sm text-light hidden" id="spinner" role="status">
                     	<span class="sr-only">Loading...</span>
                    </div>
                    <span id="button-text">Pay</span><span id="order-amount"></span>
                	</button>
              </form>
    	        <div class="sr-result hidden">
    	          <p>Payment completed<br></p>
    	          <pre>
    	            <code></code>
    	          </pre>
    	        </div>
    		    </div>
    			</div>
        </div>
    	</div>

		  <form id="payload" class="hidden" action="{% url 'payment-complete' %}" method="post">
		    {% csrf_token %}
		    <input id ="data-payload" type="hidden" name="payload"/>
		  </form>

    </div>

    <style>
      /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
    .StripeElement {
      box-sizing: border-box;

      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
    .hidden {
        display: none;
    }


    #submit:hover {
      filter: contrast(120%);
    }

    #submit {
      font-feature-settings: "pnum";
      --body-color: #f7fafc;
      --button-color: #556cd6;
      --accent-color: #556cd6;
      --gray-border: #e3e8ee;
      --link-color: #fff;
      --font-color: #697386;
      --body-font-family: -apple-system,BlinkMacSystemFont,sans-serif;
      --radius: 4px;
      --form-width: 400px;
      -webkit-box-direction: normal;
      word-wrap: break-word;
      box-sizing: border-box;
      font: inherit;
      overflow: visible;
      -webkit-appearance: button;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      font-family: inherit;
      -webkit-tap-highlight-color: transparent;
      font-size: 16px;
      padding: 0 12px;
      line-height: 32px;
      outline: none;
      text-decoration: none;
      text-transform: none;
      margin-right: 8px;
      height: 36px;
      border-radius: var(--radius);
      color: #fff;
      border: 0;
      margin-top: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all .2s ease;
      display: block;
      box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.07);
      width: 100%;
      background: var(--button-color);
    }
    </style>


<script type="text/javascript">
    // A reference to Stripe.js


    var orderData = {
      items: [{ id: "products" }],
      currency: "usd",
    };

    // Disable the button until we have Stripe set up on the page
    document.getElementById("submit").disabled = true;

    fetch("/create-payment-intent", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(orderData)
    })
      .then(function(result) {
        return result.json();
      })
      .then(function(data) {
        return setupElements(data);
      })
      .then(function({ stripe, card, clientSecret }) {
        document.getElementById("submit").disabled = false;

        // Handle form submission.
        var form = document.getElementById("payment-form");
        form.addEventListener("submit", function(event) {
          event.preventDefault();
          // Initiate payment when the submit button is clicked
          pay(stripe, card, clientSecret);
        });
      });

    // Set up Stripe.js and Elements to use in checkout form
    var setupElements = function(data) {
      stripe = Stripe(data.publishableKey);
      var elements = stripe.elements();
      var style = {
        base: {
          color: "#32325d",
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };

      var card = elements.create("card", { style: style });
      card.mount("#card-element");

      return {
        stripe: stripe,
        card: card,
        clientSecret: data.clientSecret
      };
    };

    /*
     * Calls stripe.confirmCardPayment which creates a pop-up modal to
     * prompt the user to enter extra authentication details without leaving your page
     */
    var pay = function(stripe, card, clientSecret) {
      changeLoadingState(true);

      // Initiate the payment.
      // If authentication is required, confirmCardPayment will automatically display a modal
      stripe
        .confirmCardPayment(clientSecret, {
          payment_method: {
            card: card
          }
        })
        .then(function(result) {
          if (result.error) {
            // Show error to your customer
            showError(result.error.message);
          } else {
            // The payment has been processed!
            orderComplete(clientSecret);
          }
        });
    };

    /* ------- Post-payment helpers ------- */

    /* Shows a success / error message when the payment is complete */
    var orderComplete = function(clientSecret) {
      // Just for the purpose of the sample, show the PaymentIntent response object
      stripe.retrievePaymentIntent(clientSecret).then(function(result) {
        var paymentIntent = result.paymentIntent;
        var paymentIntentJson = JSON.stringify(paymentIntent, null, 2);

        // post data and show new page
        var form2 =document.getElementById("payload");
        var input = document.getElementById("data-payload")
        input.value = paymentIntentJson;
        form2.submit();
        changeLoadingState(false);
      });
    };

    var showError = function(errorMsgText) {
      changeLoadingState(false);
      var errorMsg = document.querySelector(".sr-field-error");
      errorMsg.textContent = errorMsgText;
      setTimeout(function() {
        errorMsg.textContent = "";
      }, 4000);
    };

    // Show a spinner on payment submission
    var changeLoadingState = function(isLoading) {
      if (isLoading) {
        document.getElementById("submit").disabled = true;
        document.querySelector("#spinner").classList.remove("hidden");
        document.querySelector("#button-text").classList.add("hidden");
      } else {
        document.getElementById("submit").disabled = false;
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
      }
    };
    </script>
{% endblock %}